<dom-module id="web-console">
  <template>
    <style>
      :host {
        --overflow: scroll;
        --line-number-display: visible;
        --scrollbar: 0px;

        overflow-y: scroll;
        overflow: var(--overflow);

        font-family: 'Roboto Mono', 'Consolas', 'Menlo', monospace;
        -webkit-font-smoothing: antialiased;
        font-size: 1em;

        background-color: #222;
        color: gray;
        display: flex;
        flex-direction: column-reverse;
      }

      .info  { color: cyan; }
      .log   { color: lightgray; }
      .warn  { color: yellow; }
      .error { color: orangered; }
      .input { color: lightgreen; }

      .line  { white-space: pre-wrap; }

      .line-numbers {
        display: var(--line-number-display);
      }
    </style>
    <div>
      <template is="dom-repeat" items="[[items]]">
        <div class="line"><span class="line-numbers">[[item.n]]: </span><span class$="[[item.type]]">[[item.data]]</span></div>
      </template>
    </div>
  </template>

  <script>
    Polymer({
      is:'web-console',
      properties: {
        items: {
          type: Array,
          value: [],
        },
        con: {
          type: Object,
          value: console,
        },
        functions: Array,
        noRepeat: Boolean,
        forceFollow: {
          type: Boolean,
          observer: 'forceFollowChanged',
        },
        showLineNumbers: {
          type: Boolean,
          observer: 'showLineNumbersChanged',
        },
        maxLines: {
          type: Number,
          observer: 'maxLinesChanged',
        },
        lineNumber: {
          type: Number,
          value: 0,
          notify: true,
        },
      },

      ready: function() {
        this.wrapConsole(this.con,this.functions)
        this.forceFollowChanged(this.forceFollow)
        this.showLineNumbersChanged(this.showLineNumbers)
      },

      addItem: function(item) {
        item.n = this.lineNumber
        this.push('items', item)
        this.set('lineNumber',this.lineNumber+1)

        const listFull = this.items.length>this.maxLines
        const bottomDiff = this.scrollHeight-this.scrollTop-this.offsetHeight
        if (listFull) this.shift('items')
        if (!this.forceFollow && (listFull || bottomDiff > 0)) { return }

        Polymer.RenderStatus.afterNextRender(this, () => {
          this.scrollTop = this.scrollHeight-this.offsetHeight

          // fix the glitchy scrolling ¯\_(ツ)_/¯
          this.updateStyles({'--overflow':'hidden'})
          if (this.forceFollow) return;
          Polymer.RenderStatus.afterNextRender(this, () => {
            this.updateStyles({'--overflow':'scroll'})
          })
        })
      },

      wrapConsole: function(con, functions=["info","log","warn","error"]) {
        const ocon = this.ocon = {}
        for (let name of functions) {
          ocon[name] = con[name]
          con[name] = this.wrapFunction(name, con[name])
        }
      },

      wrapFunction: function(name, func) {
        return (function() {
          let type = name
          if (!this.noRepeat) func.apply(null,arguments)
          let data = []
          for (let arg of arguments) {
            if (arg === undefined) arg = 'undefined'
            let value = arg
            try {
              if (arg.toString) value = arg.toString()
              if (arg instanceof Object && !(arg instanceof Error)) {
                const stringified = JSON.stringify(arg,null,2)
                if (stringified) value = stringified
              }
            } catch(error) {
              value = error.toString()
              type = 'error'
            }
            data.push(value)
          }
          data = data.join(' ')
          this.addItem({type,data})
        }).bind(this)
      },

      forceFollowChanged: function(forceFollow) {
        if (forceFollow) {
          this.scrollLeft = 0
          this.scrollTop = this.scrollHeight-this.offsetHeight
        }
        const overflow = (forceFollow ? 'hidden' : 'scroll')
        this.updateStyles({'--overflow':overflow})
      },

      maxLinesChanged: function(maxLines) {
        while (this.items.length>maxLines) this.shift('items')
      },

      showLineNumbersChanged: function(showLineNumbers) {
        const display = (showLineNumbers ? 'visible' : 'none')
        this.updateStyles({'--line-number-display':display})
      },
    })
  </script>
</dom-module>
