<link rel="import" href="web-console-controls.html">
<link rel="import" href="web-console.html">
<link rel="import" href="web-console-input.html">

<dom-module id="web-console-repl">
  <template>
    <style>
      :host {
        --min-height: 22em;
        --min-width: 22em;
        min-height: var(--min-height);
        min-width: var(--min-width);
      }

      .flex, :host {
        flex: 1;
        height: 0;
      }

      .layout-vertical, :host {
        display: flex;
        flex-direction: column;
      }

      .border-grey {
        border: 1px solid #666;
      }

      .repl {
        background: #222;
      }

      web-console, web-console-input
      {
        padding-left: 0.5em;
      }
      web-console-input {
        padding-bottom: 0.5em;
      }

    </style>
    <div class="border-grey">
      <web-console-controls
        force-follow="{{forceFollow}}"
        show-line-numbers="{{showLineNumbers}}"
        max-lines="{{maxLines}}"
      ></web-console-controls>
    </div>
    <div on-tap="onTap" class="flex layout-vertical repl">
      <web-console class="flex"
        force-follow="{{forceFollow}}"
        show-line-numbers="{{showLineNumbers}}"
        max-lines="{{maxLines}}"
        line-number="{{lineNumber}}"
      ></web-console>
      <web-console-input id="input"
        show-line-numbers="{{showLineNumbers}}"
        line-number="{{lineNumber}}"
      ></web-console-input>
    </div>
  </template>
  <script>
    Polymer({
      is: 'web-console-repl',

      properties: {
        forceFollow: Boolean,
        showLineNumbers: {
          type: Boolean,
          value: true,
        },
        maxLines: {
          type: Number,
          value: 1000,
        },
        lineNumber: Number,
        lastClick: {
          value: 0,
        },
      },

      onTap: function() {
        const now = Date.now()
        if (now-this.lastClick > 1000) this.$.input.focus()
        this.lastClick = now
      },
    })
  </script>
</dom-module>
